@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
:root {
  --background: #101217;
  --text: #ffffff;
  --grade4: #39d353;
  --grade3: #26a641;
  --grade2: #006d32;
  --grade1: #0e4429;
  --grade0: #151B23;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.leftPad {
  --background: #000000;
  --text: #f8f8f2;
  --grade4: #F6F6F6;
  --grade3: #DDDDDD;
  --grade2: #A5A5A5;
  --grade1: #646464;
  --grade0: #2F2F2F;
}

.dracula {
  --background: #181818;
  --text: #f8f8f2;
  --grade4: #ff79c6;
  --grade3: #bd93f9;
  --grade2: #6272a4;
  --grade1: #44475a;
  --grade0: #282a36;
}

.blue {
  --background: #181818;
  --text: #C0C0C0;
  --grade4: #4F83BF;
  --grade3: #416895;
  --grade2: #344E6C;
  --grade1: #263342;
  --grade0: #222222;
}

.panda {
  --background: #2B2C2F;
  --text: #E6E6E6;
  --grade4: #FF4B82;
  --grade3: #19f9d8;
  --grade2: #6FC1FF;
  --grade1: #34353B;
  --grade0: #242526;
}

.solarizedDark {
  --background: #002b36;
  --text: #93a1a1;
  --grade4: #d33682;
  --grade3: #b58900;
  --grade2: #2aa198;
  --grade1: #268bd2;
  --grade0: #073642;
}
